@charset "UTF-8";

body {
    font-family: 'Nanum Gothic', sans-serif;
}

/* 로고 */
#logo {
	width:180px;
}

#commonleftMenu {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

#commonBody {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

